aiohttp
apscheduler
beautifulsoup4
celery[redis,auth,msgpack]
django
django-cors-headers
django-apscheduler
DbUtils
flask
gerapy
jinja2
pika
pyquery
pymysql
pymongo
python-scrapyd-api
redis
requests
scrapy
scrapyd
scrapyd-client
scrapy-redis
scrapy-splash
selenium
setproctitle